RapportFraStedet/Web References/AddressService/AddressService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6392/Services/AddressService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RapportFraStedet.Models" />
  <xs:element name="GetStreets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RapportFraStedet.Models" minOccurs="0" name="GetStreetsResult" nillable="true" type="q1:ArrayOfStreetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="streetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RapportFraStedet.Models" minOccurs="0" name="GetAddressesResult" nillable="true" type="q2:ArrayOfAddressModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="streetId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RapportFraStedet.Models" minOccurs="0" name="GetAddressResult" nillable="true" type="q3:AddressModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>